<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
            <mat-form-field>
                <mat-label>Login</mat-label>
                <input matInput placeholder="Login" formControlName="login">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </form>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
        <button mat-raised-button>Cancel</button>
        <button color="primary" mat-raised-button>Login</button>
    </div>
</div>