<div *ngIf="this.loginService.logged===false" class="column">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="column">
            <mat-form-field>
                <mat-label>Login</mat-label>
                <input matInput placeholder="Login" formControlName="login">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <mat-error *ngIf="this.loginForm.controls.password.hasError('pattern')">Invalid password too weak </mat-error>
                <button mat-icon-button autocomplete="off" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="row">
            <button (click)="this.cancel()" mat-raised-button>Cancel</button>
            <button color="primary" type="submit" [disabled]="!loginForm.valid" mat-raised-button>Login</button>
        </div>
    </form>
</div>
<div class="column" *ngIf="this.loginService.logged===true" >
    <p class="name">Logged: {{name}}</p>
    <button color="accent" (click)="logout()" mat-raised-button>Logout</button>
</div>