.componentWarper
  margin: 40px

  /* just for contrast
  position: relative
  margin-top: 3em
  border: 2px solid rgb(63, 81, 181)
  border-radius: 12px
  padding: 20px

  .componentTitle
    position: absolute
    top: -14px
    background: #ffffff
    padding: 0 10px