<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <form (ngSubmit)="onSubmit()" [formGroup]="projectForm">
        <mat-form-field>
            <input autocomplete="off" matInput placeholder="name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <input autocomplete="off" matInput placeholder="Description" formControlName="description">
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <button (click)="cancel()" type="button"  mat-raised-button>cancel</button>
            <button [disabled]="!this.projectForm.valid"  color="primary" type="submit" mat-raised-button>Ok</button>
        </div>
    </form>
</div>