<form [formGroup]="alignLabelForm" (ngSubmit)="onSubmit()">
    <div class="column">
        <mat-form-field>
            <input matInput placeholder="Distance" formControlName="distance" type="number">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Align" formControlName="align" type="number">
        </mat-form-field>
        <div class="row">
            <button mat-raised-button (click)="cancel()" type="button">Cancel</button>
            <button [disabled]="!this.alignLabelForm" mat-raised-button color="primary" type="submit" >OK</button>
        </div>
    </div>
</form>