<form [formGroup]="alignLabelForm" (ngSubmit)="onSubmit()">
    <div class="column">
        <p>Distance</p>
        <mat-slider min="-100" max="100">
            <input matSliderThumb formControlName="distance">
        </mat-slider>
        <p>Align</p>
        <mat-slider min="-100" max="100">
            <input matSliderThumb formControlName="align">
        </mat-slider>
        <div class="row">
            <button mat-raised-button (click)="cancel()" type="button">Cancel</button>
            <button [disabled]="!this.alignLabelForm" mat-raised-button color="primary" type="submit">OK</button>
        </div>
    </div>
</form>