<div mat-dialog-content>
    <h4 mat-dialog-title>{{data.header}}</h4>
    <p>{{data.message}}</p>
  </div>
  <mat-dialog-actions>
    <button color="" mat-raised-button type="button" mat-dialog-close="">Cancel</button>
    <ng-container *ngIf="data?.alert===true; else elseTemplate">
      <button color="accent" mat-raised-button type="button" mat-dialog-close="Ok">Accept</button>
    </ng-container>
    <ng-template #elseTemplate>
      <button color="primary" mat-raised-button type="button" mat-dialog-close="Ok">Accept</button>
    </ng-template>
    
  </mat-dialog-actions>